.detail-container-parent {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;

  flex-wrap: wrap;
  width: 60%;
  min-height: 350px;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  text-align: left;
}
.shipmentDetail-title {
  font-weight: bold;
  margin-right: 5px;
}

.backBtn {
  text-decoration: none;
  background-color: rgb(168, 211, 212);
  padding: 5px;
  color: black;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  margin-left: 59%;
}
