.shipment-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;

  grid-gap: 20px;
}

@media only screen and (min-width: 1024px) {
  .shipment-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .shipment-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 767px) and (min-width: 426px) {
  .shipment-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
